.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
  padding: 0.25rem 0.25rem;
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}
button {
  font-size: 1rem;
  border: 0;
  outline: none;
  background-color: var(--color-primary-300);
  cursor: pointer;
  color: var(--color-gray-800);
  border-radius: 4px;
  padding: 0.25rem 0.25rem;
}
